@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
@import './styles/colors';
@import './styles/reset';
@import './styles/typography';
@import './styles/primeng-overrides';
@import './styles/utilities';
@import './styles/scrollbar';
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  // background: url('assets/images/mandala-bg.png') center/cover fixed;
  background-color: #fff5e6; // Light saffron base
}